body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 5% 0 5%;
    padding: 0;
}

.product{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url(../img/background-product.png);
    color: white;
}
.product h3{
    text-align: center;
    margin: 5%;
}

.container-slide{
    width: 75vw;
    height: 53vh;
    margin: 3% auto; 
}

.principal{
    width: 75vw;
    height: 53vh;
    position: relative;
    overflow: hidden;
}
.slide{
    display: flex;
    width: 500%;
    transition: all 0.8s;
    
}
.slide img{
    width: 75vw;
    height: 53vh;
    object-fit: cover;
    object-position: top;
   
}

.container-slide label img{
    height: 14vh;
    width: 15vw;
    cursor: pointer;
    float: left;
    opacity: 0.4;
    transition: all 0.4s;
    object-fit: cover;
    object-position: top;
}

.img1 img {
    object-position: center;
}

#foto2:checked ~ .principal .slide{
    margin-left: -100%;

}
#foto3:checked ~ .principal .slide{
    margin-left: -200%;

}
#foto4:checked ~ .principal .slide{
    margin-left: -300%;

}
#foto5:checked ~ .principal .slide{
    margin-left: -400%;

}

input[name="grupo"]{
    display: none;
}
input[name="grupo"]:checked + label img{
   opacity: 0.9;
}

.descricao-slide {
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: #41288eee;
    text-align: center;
}

.descricao-slide p {
    font-size: 18px;
    font-weight: lighter;
}

/* modal ampliação de imagens */

#modal_img {
    height: 90vh;
    transform: scale(0);
    transition: all linear 0.3s;
}

.modal_active #modal_img {
    transform: scale(1);
}

.modal-galeria {
    width: 100vw;
    height: 100vh;
    background-color: #000b;
    position: fixed;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.3s linear;
}

.modal-content {
    height: 100vh;
}

#fechar_galeria {
    top: 15px;
    right: 25px;
    color: #fff;
    background-color: #000c;
    border: 1px solid #fff;
    font-size: 35px;
    padding: 0 10px;
    position: absolute;
    cursor: pointer;
}

#fechar_galeria:hover {
    background-color: #daa520;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}