body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 5% 0 5%;
    padding: 0;
}

.product{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url(../img/fundo-product.png);
    color: white;
}
.product h3{
    text-align: center;
    margin: 5%;
}
#container{
    width: 850px;
    height: 400px;
    margin: 3% auto;
  
}
.principal{
    width: 850px;
    height: 350px;
    overflow: hidden;
}
.slide{
    display: flex;
    width: 400%;
    transition: all 0.8s;
}
.slide img{
   width: 850px;
    height: 350px;
    object-fit: cover;
    object-position: top;
   
}
 #container label img{
    height: 80px;
    width: 212px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
    transition: all 0.4s;
    object-fit: cover;
    object-position: top;
}

#foto2:checked ~ .principal .slide{
    margin-left: -100%;

}
#foto3:checked ~ .principal .slide{
    margin-left: -200%;

}
#foto4:checked ~ .principal .slide{
    margin-left: -300%;

}
input[name="grupo"]{
    display: none;
}
input[name="grupo"]:checked + label img{
    opacity: 0.9;
}
