body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 5% 0 5%;
    padding: 0;
}

.aboutUs{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url(../img/fundo-about.png);
    background-size: cover;
    color: white;
}


.sobre1{
    height: 150px;
    width: 335px;
    margin-top: 300px;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    margin-left: 300px;
}

.ideais{
    height: 310px;
    width: 400px;
    float: right;
    margin-top: 150px;
    margin-right: 150px;
    margin-top: -100px;
}

.fundoimagem{
    background-color: #0086FA;
    height: 85px;
    width: 85px;
    float: left;
    margin-right: 40px;
}

.ideais img{
    height: 50px;
    width: 50px;
    margin-left: 17px;
    margin-top: 15px;
}

.ideais h3{
    color: #0086FA;
    font-size: 20px;
    margin-bottom: 5px;
}

.cx-ideal{
    margin-bottom: 30px;
}

.cx-fig{
    height: 300px;
    width: 300px;
    margin-left: 150px;
}

#globofig{
    height: 250px;
    width: 250px;
    margin-top: 50px;
}

#aguiafig{
    height: 75px;
    width: 75px;
    margin-top: -70px;
}




